.filter {
    width: 1000px;
    margin: 530px auto 30px auto;
}
.searchForm {
    background-color: #00ADEF;
    border-radius: 30px;
    padding: 10px 20px 15px 20px;
}
.searchElement {
    margin-bottom: 10px;
}
label {
    color: 	#ffffff;
    font-family: Square;
    font-size: 20px;
}
select {
    color: 	#ffffff;
    font-family: Square;
    font-size: 20px;
}
.btnSearch  {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-top: 10px;
}